extends layout

block content
  h1= title
  p Welcome to #{title}
  if posts
    each post, i in posts
      .post
        h1 
          a(href='/posts/show/'+post._id)
            =post.title
        p.meta Post in #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYY")}
        =post.body
        a.more(href='/posts/show/'+post._id) Read More